header{
  display: flex;
  flex-direction: column;
}

.container-logo-header{
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.nav {
  background-color: rgba(0, 0, 0, 0.242);
}

.nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav ul li .links{
 color:black;
 text-decoration: none; 
}
